.flt {
    float: right;
}

.welcome {
    color: #FFFFFF;
    float: left;
    margin-right: 63%;
}

.padder {
    padding-right: 40%;
    padding-left: 30%;
}

.mybg {
    background: #c9d8e1;
}

.btncol {
    background: #849cb4;
}