{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" media="screen" />
    {% block extra_head %}{% endblock %}
</head>
<body>

        {% if user.is_authenticated %}
        <header>
            <ul style="float: none!important;">
                <div>
                    <h1 style="float: left;">Hello, {{ user.first_name }}</h1>
                    <li style="float: right"><a href="#"> Profile </a></li><br />
                    <li style="float: right"><a href="{% url 'logout' %}">Logout</a></li>
                </div>
            </ul>
        </header>
            {% else %}
            <header>
            Welcome to quizze!!1
            </header>
        {% endif %}

    <section>
        {% block content %}
        {% endblock %}
    </section>
    {% block extra_body %}{% endblock %}
</body>
</html>
