{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Quiz Home{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="mybg">
        <span style="font-size: xx-large">Avaliable Quizes:</span>
    <ol type="1" class="rooms">
        {% for room in rooms %}
            <a href="#" style="font-size: x-large"><li class="room-link" data-room-id="{{ room.id }}">{{ room }}</li></a>
            <span style="font-size: large">Current Leaderboard of this quiz:</span>
            <a href="{% url 'game:quiz_leaderboard' room.quiz.id %}" style="font-size:x-large">{{ Room }} leaderboard </a>
        {% empty %}
            <p class="empty">No chat rooms defined. Maybe make some in the <a href="{% url 'admin:index' %}">admin</a>?</p>
        {% endfor %}
        </div>
    {% else %}
        <a class="lead" href="{% url 'login' %}">Log in</a>
    {% endif %}
    </ol>

    <div id="chats">
    </div>
{% endblock %}
{% block extra_body %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="{% static "js/main.js" %}"></script>
{% endblock %}

